#div-card {

    display: flex;
    justify-content: center;
    margin: 50px;
    
}

#div-card-container {
    border-radius: 15px;
    padding: 20px;
    width: 400px;
    box-shadow: 3px 3px gray;
    background-color: white;
}



#div-pic-name {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#name {
    font-size: 24px;
}

#div-other-info {
    padding: 5px;
}