#div-colors-container {
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    background-color: gray;
}

#_ff6666,
#_ff9933,
#_ffff3,
#_99ff66,
#_66ffcc,
#_9999ff,
#_ff99ff,
#white {
    width: 18px;
    height: 18px;
}

#_ff6666:hover ,
#_ff9933:hover ,
#_ffff3:hover ,
#_99ff66:hover ,
#_66ffcc:hover ,
#_9999ff:hover ,
#_ff99ff:hover,
#white:hover {
    border: 2px solid gray;
}


#_ff6666 {
    background-color: #ff6666;
    border: 2px solid #ff6666;
}



#_ff9933 {
    background-color: #ff9933;
    border: 2px solid #ff9933;
}

#_ffff3 {
    background-color: #ffff33;
    border: 2px solid #ffff33;
}

#_99ff66 {
    background-color: #99ff66;
    border: 2px solid #99ff66;
}

#_66ffcc {
    background-color: #66ffcc;
    border: 2px solid #66ffcc;
}

#_9999ff {
    background-color: #9999ff;
    border: 2px solid #9999ff;
}

#_ff99ff {
    background-color: #ff99ff;
    border: 2px solid #ff99ff;
}

#white {
    background-color: white;
    border: 2px solid white;
}